<div class="mt-5">
  <div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <app-alert [message]="error" *ngIf="error"></app-alert>
  <form
    class="row g-3 mt-5"
    #authForm="ngForm"
    (ngSubmit)="onSubmit(authForm)"
    *ngIf="!isLoading"
  >
    <div class="col-md-6 offset-md-3">
      <label for="email" class="form-label">E-mail</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        ngModel
        required
        email
      />
    </div>
    <div class="col-md-6 offset-md-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        ngModel
        required
        minlength="6"
      />
    </div>
    <div class="col-md-6 offset-md-3">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="authForm.invalid"
      >
        {{ isLoginMode ? "Login" : "Sign Up" }}
      </button>
      <button
        class="btn btn-primary ms-2"
        type="button"
        (click)="onSwitchMode()"
      >
        {{ isLoginMode ? "Switch to Sign Up" : "Switch to Login" }}
      </button>
    </div>
  </form>
</div>
