<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      [alt]="recipe.imagePath"
      class="img-fluid"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xs-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" appDropdown>
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li>
          <button class="dropdown-item btn btn-link" (click)="addToShoppingList()">To Shopping List</button>
        </li>
        <li>
          <button class="dropdown-item btn btn-link">Edit Recipe</button>
        </li>
        <li>
          <button class="dropdown-item btn btn-link">Delete Recipe</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row mt-3">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients"
      >
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
