<div
  class="modal fade show"
  id="alertModal"
  tabindex="-1"
  aria-labelledby="alertModalLabel"
  aria-hidden="true"
  style="display: block"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="alertModalLabel">
          Authentication Error
        </h1>
          <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">{{ message }}</div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
