<div class="row mt-5">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr />
<div class="row mt-3">
  <div class="col-xs-12">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action"
        *ngFor="let recipe of recipes"
      >
        <div class="d-flex justify-content-between">
          <span>
            <h4>{{ recipe.name }}</h4>
            <p>{{ recipe.description }}</p>
          </span>
          <span class="w-50">
            <img
              [src]="recipe.imagePath"
              [alt]="recipe.name"
              class="img-thumbnail"
            />
          </span>
        </div>
      </a>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
